<div class='container'>
  <nav class='navbar navbar-default' role='navigation'>
    <ul class='nav navbar-nav'>
      <li>{{#link-to 'auction'}}Auction{{/link-to}}</li>
      <li>{{#link-to 'auction'}}Gallery{{/link-to}}</li>
      <li>{{#link-to 'auction'}}About{{/link-to}}</li>
    </ul>
  </nav>

  {{outlet}}
  
</div>
