<div class='col-xs-6'>
  <h1>Motorcycles</h1>
  <h3>San Diego, CA, USA</h3>
  <h3>March 2015</h3>
</div>

<div class="col-xs-6">
  <div class="pull-right">
    {{#link-to 'new-lot' classNames="btn btn-info"}}Add new lot to this auction{{/link-to}}
  </div>
</div>
